/bin/Desilog
/examples/out/
/Desilog.userprefs
/obj/
/.directory
/.buildpath
/desilog
/.dub/*
/dub.*
/.settings/*
/examples/proj_altera/*/
/examples/proj_altera/example0_nativelink_simulation.rpt
/examples/proj_altera/example0.qws
/examples/proj_altera/example0_description.txt
